---
import Layout from "../layouts/Layout.astro";
import { COMPONENTS } from "../data/components";
import CodeBox from "../components/CodeBox.astro";
import { fade } from "astro:transitions";

export function getStaticPaths() {
  const pages = COMPONENTS.map((item) => ({ params: { page: item.page } }));
  return pages;
}
const { page } = Astro.params;
const [ITEM] = COMPONENTS.filter((item) => item.page === page);
---

<Layout title={`rjpm.ui - ${ITEM.title}`}>
  <header
    class="text-center p-5 flex flex-col items-center"
    transition:animate={fade({ duration: "0.15s" })}
  >
    <h1 class="text-4xl text-pretty mt-4 p-2 w-fit font-bold">
      {ITEM.title}
    </h1>
  </header>
  <main
    class="max-w-[1000px] w-full mx-auto p-4 flex flex-col gap-10"
    transition:animate={fade({ duration: "0.15s" })}
  >
    <section
      class="min-h-[180px] relative border-2 border-slate-800 rounded-xl hover:border-slate-700 group transition-colors duration-200 flex items-center justify-center p-5 font-sans"
    >
      <div
        class="absolute h-full w-full bg-[radial-gradient(rgb(30,41,59)_1.5px,transparent_1px)] [background-size:20px_20px] [mask-image:radial-gradient(ellipse_47%_47%_at_50%_50%,#000_70%,transparent_100%)] transition-colors"
      >
      </div>
      <ITEM.component />
    </section>
    <CodeBox files={ITEM.files} />
    {
      ITEM.tailwind && (
        <CodeBox code={ITEM.tailwind} filename="tailwind.config.mjs" />
      )
    }
  </main>
</Layout>
