---
import ComponentCard from "../components/ComponentCard.astro";
import Tailwindcss from "../components/icons/Tailwindcss.astro";
import Layout from "../layouts/Layout.astro";
import { COMPONENTS } from "../data/components";
---

<Layout title="rjpm.ui - Easy-to-Use Tailwind CSS and React Components">
  <header class="text-center p-5 flex flex-col items-center">
    <h1 class="text-4xl text-pretty mt-4 p-2 w-fit font-bold">
      Easy to use component collection <br />
      <span class="text-slate-400 text-xl"
        >made with <p class="hidden">tailwindcss</p>
        <Tailwindcss class="h-4 text-slate-100 inline" alt="tailwindcss logo" />
      </span>
    </h1>
  </header>
  <main class="flex flex-col items-center justify-center">
    <section class="w-full h-full mt-12 flex flex-wrap justify-center gap-5">
      {
        COMPONENTS.map((item) => (
          <ComponentCard href={item.page} title={item.title}>
            <item.component shadow />
          </ComponentCard>
        ))
      }

      <ComponentCard title="Gradient text">
        <p class="text-gray-400">Comming soon...</p>
      </ComponentCard>
    </section>
  </main>
</Layout>
