---
import ComponentCard from "../components/ComponentCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="rjpm.ui">
  <header class="font-extrabold text-center p-5">
    <h1 class="text-6xl">rjpm.ui</h1>
    <h2 class="text-3xl mt-4">
      React components collection <br /> created with tailwindcss
    </h2>
  </header>
  <main class="flex flex-col items-center justify-center">
    <section>
      <nav class="">
        <ul class="flex gap-4">
          <li>Buttons</li>
          <li>Cards</li>
          <li>Badge</li>
          <li>Typography</li>
        </ul>
      </nav>
    </section>
    <section
      class="w-full h-full max-w-[1000px] mt-12 flex flex-wrap justify-center gap-5"
    >
      <ComponentCard title="Gradient button">
        <button
          type="button"
          class="border-2 border-white bg-red-500 w-full rounded">Alo</button
        >
      </ComponentCard>
      <ComponentCard title="Gradient button">
        <button
          type="button"
          class="border-2 border-white bg-red-500 w-full rounded">Alo</button
        >
      </ComponentCard>
      <ComponentCard title="Gradient button">
        <button
          type="button"
          class="border-2 border-white bg-red-500 w-full rounded">Alo</button
        >
      </ComponentCard>
      <ComponentCard title="Gradient button">
        <button
          type="button"
          class="border-2 border-white bg-red-500 w-full rounded">Alo</button
        >
      </ComponentCard>
      <ComponentCard title="Gradient button">
        <button
          type="button"
          class="border-2 border-white bg-red-500 w-full rounded">Alo</button
        >
      </ComponentCard>
    </section>
  </main>
</Layout>
