---
import ComponentCard from "../components/ComponentCard.astro";
import GradientButton from "../components/GradientButton";
import ButtonBgGradient from "../components/ButtonBgGradient";
import Tailwindcss from "../components/icons/Tailwindcss.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="rjpm.ui - Easy-to-Use UI Tailwind CSS and React Components">
  <header class="text-center p-5 flex flex-col items-center">
    <h1 class="text-4xl text-pretty mt-4 p-2 w-fit font-bold">
      Easy to use component collection <br />
      <span class="text-slate-400 text-xl"
        >made with <p class="hidden">tailwindcss</p>
        <Tailwindcss class="h-4 text-slate-100 inline" alt="tailwindcss logo" />
      </span>
    </h1>
  </header>
  <main class="flex flex-col items-center justify-center">
    <!-- <section>
      <nav class="">
        <ul class="flex gap-4">
          <li>Buttons</li>
          <li>Cards</li>
          <li>Badge</li>
          <li>Typography</li>
        </ul>
      </nav>
    </section> -->
    <section class="w-full h-full mt-12 flex flex-wrap justify-center gap-5">
      <ComponentCard title="Gradient button">
        <GradientButton client:load title="Hover me" shadow />
      </ComponentCard>
      <ComponentCard title="Background animated button">
        <ButtonBgGradient title="Hover me" shadow />
      </ComponentCard>
      <ComponentCard title="Gradient text">
        <p class="text-gray-400">Comming soon...</p>
      </ComponentCard>
    </section>
  </main>
</Layout>
