---
import ArrowOutward from "../components/icons/ArrowOutward.astro";
interface Props {
  title: string;
  href?: string;
}

const { href = "#", title } = Astro.props;
---

<article
  class="relative w-[330px] h-[330px] bg-slate-950 border-2 border-slate-800 rounded-xl hover:border-slate-700 group transition-colors duration-200"
>
  <header class="absolute top-0 w-full h-full text-base">
    <div
      class="relative w-full px-5 pt-4 flex justify-between items-center text-slate-300 group-hover:text-slate-200 transition-colors duration-200"
    >
      <a href={href} class="pr-6 w-full"
        ><h3 class="font-semibold text-[14px]">{title}</h3></a
      >
      <a href={href}><ArrowOutward class="w-5 h-5 absolute top-5 right-4" /></a>
    </div>
  </header>
  <div class="flex items-center justify-center w-full h-full p-5 font-sans">
    <slot />
  </div>
</article>
