---
import { ViewTransitions } from "astro:transitions";
import Github from "../components/icons/Github.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Easily integrate our components built with Tailwind CSS. Use them by copying and pasting the code into yours. Ideal for customizable and responsive designs."
    />
    <meta
      name="keywords"
      content="rjpm, rjpm.ui, ricardojparram, UI components, Tailwind CSS, React, web development, customizable components, responsive design, front-end library, copy and paste code, JavaScript components, user interface design"
    />
    <meta
      property="og:title"
      content="rjpm.ui - Easy-to-Use Tailwind CSS and React Components"
    />
    <meta
      property="og:description"
      content="Easily integrate our components built with Tailwind CSS. Use them by copying and pasting the code into yours. Ideal for customizable and responsive designs."
    />
    <meta property="og:image" content="/favicon.svg" />
    <meta property="og:url" content="https://rjpm-ui.vercel.app/" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <style>
      body {
        font-family: "JetBrains Mono", monospace;
      }
      @font-face {
        font-family: "JetBrains Mono";
        src: url("../assets/JetBrains800.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
      }
    </style>
  </head>
  <body class="bg-slate-950">
    <div class="fixed -z-10">
      <div
        class="absolute inset-0 -z-10 h-screen w-screen items-center px-5 py-24 [background:radial-gradient(80%_120%_at_50%_50%,rgba(0,0,0,0)_50%,#00012b85_70%,#020006_100%)]"
      >
      </div>
    </div>
    <div
      class="flex flex-col mx-auto max-w-[1100px] h-screen w-screen text-slate-200"
    >
      <nav class="mt-5 px-7 flex justify-between items-center">
        <h2
          class="relative text-4xl font-extrabold bg-gradient-to-r from-sky-400 via-indigo-500 to-violet-500 bg-clip-text text-transparent"
        >
          <a href="/">rjpm.ui</a>
        </h2>
        <span
          ><a
            href="https://github.com/ricardojparram/rjpm-ui-components"
            target="_blank"
            aria-label="Link to the source code of the project"
            ><Github class="w-7 h-7 text-white" /></a
          ></span
        >
      </nav>
      <slot />
      <footer class="p-2 pt-10 mt-auto text-center text-gray-400">
        Made by <a
          href="https://github.com/ricardojparram"
          target="_blank"
          class="bg-gradient-to-tr bg-[size:100%_200%] bg-[position:20%_0%] hover:bg-[position:90%_80%] transition-all duration-300 font-bold from-sky-400 to-violet-400 via-sky-400 bg-clip-text text-transparent z-10"
          aria-label="Link to the project owner github profile"
          >@ricardojparram</a
        > - 2024
      </footer>
    </div>
  </body>
</html>
